<%= form_with model:@article, html: { multipart: true } do |form| %>
    <div class="jumbotron">
      <div  class=" container formheader">
        <h3  class="btn btn-info textarticles1 "><b>New article</b></h3>
      </div>
      <table class="table">
        <div class="container  bg-light formtable ">
          <div class=" bg-dark">
            <p class="fieldpadding">
              <%= image_tag("logos/article.png",width:'65px',height:'15px',class: 'img-responsive profile') %>
              <%= form.label :title,:class=>"formlabel" %>
              <%= form.text_field :title,:class=>"form-control  formlabel required"%>
              <small class="errortext"><%= @article.errors.messages[:title].first if @article.errors.messages[:title].any? %>
             </small>
           </p>
          <p class="fieldpadding">
            <%= form.label :description,:class=>"formlabel" %>
            <%= form.text_area :description,:class=>"form-control formlabel" %>
             <small class="errortext"><%= @article.errors.messages[:description].first if @article.errors.messages[:description].any? %></small>
           </p>
           <p class="fieldpadding">
            <%= form.label :Pages,:class=>"formlabel" %>
            <%= form.text_area :nopages,:class=>"form-control formlabel" %>
           </p>
           <p class="fieldpadding">
             <%= @article.author_id%>
             <%= form.label :author ,:class=>"formlabel" %>
             <%= form.select :author_id, Author.all.pluck(:name, :id), { prompt: 'Select' }, { class: "form-control" } %>
             <small class="errortext"><%= @article.errors.messages[:author].first if @article.errors.messages[:author].any? %></small>
          </p>
          <p class="fieldpadding">
             <%= @article.category_id%>
             <%= form.label :category ,:class=>"formlabel" %>
             <%= form.select :category_id, Category.all.pluck(:name, :id), { prompt: 'Select' }, { class: "form-control" } %>
         </p>
         <p class="fieldpadding">
          <%= form.label :Image ,:class=>"formlabel" %>
          <%= form.file_field :image , { class: "form-control" } %>

         </p>
           <p class="fieldpadding">
          <%= form.label :File ,:class=>"formlabel" %>
          <%= form.file_field :file , { class: "form-control" } %>

         </p>
           <p class="fieldpadding">
          <%= form.check_box :checkbox%>
              Publish this article!
          </p>
        <p>
          <div class="form-group fieldpadding">
            <div class=" ">
              <%= link_to 'Back', articles_path,:class=>"btn btn-warning backbutton" %>
              <%= form.submit 'save', :class=>"btn btn-success savebutton " %> 
            </div>
          </div>
          </p>
        </div> 
      </div>
    <% end %>
  </table>
</div>


    