<div class="container">
    <div class="container-fluid showpage">
       <a href="/logout" class="btn btn-info logout">signout</a>
      <badge class="btn btn-primary textarticles">Articles</badge>
      <b class="username">Welcome <%=User.find(session[:user_id]).name %>
      </b>
      <span class="label label-success today"><%= Article.where(created_at: Date.today...Date.today+1).count %></span><b class="today">Today articles posted</b>
      </div>
      
    <div class="container mt-3 showtable">
    <%= link_to 'Post article', new_article_path,:class=>"btn btn-success newarticle"%>
    <h4 class="btn textarticles"><b class="counttext">Total articles-<badge class="articlecount label label-info"><%= Article.count %></badge></b></h4>
  <div class="title">
      <h4>Search by title or authorname</h4>
          <%= form_tag(articles_path,method: :get) do %>
          <%= text_field_tag :both %>
          <%= submit_tag 'search',:class=>"btn-sm btn-warning" %>
      <% end %> 
     <h4>Search article by NOT</h4>
        <%= form_tag(articles_path,method: :get) do %>
        <%= text_field_tag :not %>
        <%= submit_tag 'search',:class=>"btn-sm btn-info" %>
      <% end %>
      </div>
    <div class="newarticle">
      <h4>Search by article title</h4>
          <%= form_tag(articles_path,method: :get) do %>
          <%= text_field_tag :term %>
          <%= submit_tag 'search',:class=>"btn-sm btn-success" %>
      <% end %> 
     </div>
    <div class="searchcat">
        <h4>Search article by category</h4>
           <%= form_tag(articles_path,method: :get) do %>
          <%= select_tag(:term1, options_from_collection_for_select(Category.all, :id, :name), include_blank: "Select Category", :class=>"form-control" )%>
          <%= submit_tag 'search',:class=>"btn-sm btn-primary searchbtn" %>
        <% end %>
    </div>
    <h4 class="text-center">
      <%= image_tag("logos/Articles.png",width:'180px',height:'45px',class: 'img-responsive,image') %>
    </h4>
  <table class="table table-hover table-striped table-bordered bg-white ">
    <thead class="bg-light">
        <tr>
          <th>Article Title</th>
          <th>Description</th>
         
          <th>Category</th>
          <th>Author</th>
          <th>Published on date</th>
          
          <th>Download</th>
      
          <th>Article published</th>
          <th>Actions</th>
        </tr>                                 
      </thead>
      <% @articles.each do |article| %>
      <tr>
          <td>
            <%= article.title %>
          </td>
          <td>
            <%=article.description.truncate(18) %>

          </td>
           
          <td>
            <%= article.category.name%>
          </td>
          <td>
           <%= article.author.name %>
          </td>
          <td>
            <%= article.created_at.strftime("%a %d %Y") %>
          </td>
           <td>
        <%= link_to 'Download',{:action => "download_pdf", :id => article.id},:class=>"btn btn-xs btn-warning" %>
     
          </td>
         
          <td>
            <%= article.checkbox %>
          </td>
          <div>
          <td>
            <%= link_to 'View', article_path(article),:class => "btn btn-success"  %>
            <%= link_to 'Edit', edit_article_path(article),:class => "btn btn-warning" %>
            <%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{article.id}",:class=>'btn btn-danger'%>
            <div class="modal fade" id="delete-<%= article.id %>" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2>Article delete</h2>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure to delete this article</p>
                  </div>
                  <div class="modal-footer">
                    <%= link_to 'Destroy', article_path(article), method: :delete, :class => 'btn btn-danger' %>
                    <a href="#" data-dismiss="modal" class="btn btn-warning">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </div>
      </tr>
      <% end %>
    </table>
  </div>
    <h4><%= formatted_time %></h4>

</div>


