<%= form_with(model: @user, local: true) do |form| %>
 <!--  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->
  <div class="container loginpage" style="margin-top: 15px;">
  <div class="fieldpadding">
    <%= form.label :name,:class=>"formlabel" %>
    <%= form.text_field :name,:class=>"form-control formlabel" %>
    <small class="errortext"><%= @user.errors.messages[:name].first if @user.errors.messages[:name].any? %>
             </small>
  </div>
   <div class="fieldpadding">
    <%= form.label :email,:class=>"formlabel" %>
    <%= form.text_field :email,:class=>"form-control formlabel" %>
    <small class="errortext"><%= @user.errors.messages[:email].first if @user.errors.messages[:email].any? %>
             </small>
  </div>
  <div class="fieldpadding">
    <%= form.label :password,:class=>"formlabel" %>
    <%= form.password_field :password ,:class=>"form-control formlabel"%>
     <small class="errortext"><%= @user.errors.messages[:password].first if @user.errors.messages[:password].any? %>
             </small>
  </div>
  <div class="fieldpadding">
    <%= form.label :confirm_password,:class=>"formlabel" %>
    <%= form.password_field :password,:class=>"form-control formlabel" %>
    <small class="errortext"><%= @user.errors.messages[:password].first if @user.errors.messages[:password].any? %>
             </small>
  </div>
    
  <div class="fieldpadding">
    <%= form.submit :class=>"btn btn-primary "  %>
  </div>
  </div>
<% end %>
