<%= form_with model:@user do |form| %>
    <div class="jumbotron">
      <div  class=" container formheader">
         <a href="/register" class="signin  btn btn-primary mt-2">Register</a>
      </div>
      <table class="table">
        <div class="container  bg-light formtable ">
          <h3 class="textlogin">Login</h3>
          <div class=" bg-dark">
            <p class="fieldpadding">
              <%= form.label :username,:class=>"formlabel" %>
              <%= form.text_field :username,:class=>"form-control  formlabel required"%>
            </p>
          <p class="fieldpadding">
            <%= form.label :password,:class=>"formlabel" %>
            <%= form.password_field :password,:class=>"form-control formlabel" %>
          </p>
          <p>
          <div class="form-group fieldpadding">
            <div class=" ">
              <%= form.submit 'Login', :class=>"btn btn-success savebutton " %> 
            </div>
          </div>
          </p>
        </div> 
      </div>
    <% end %>
  </table>
</div>


    