<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crudbootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  </head>
  <body>
   <div class="container text-center">
       <%= render 'layouts/header'%>
    </div>
    
    <%= yield %>
    <div  class="container text-center">
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
